* {
  max-width: 1440px;
  margin: 10px auto;
  background-color: rgb(245, 248, 255);
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.bold {
  font-weight: 700;
}
.orange-color {
  color: #e95a08;
}
.dark2 {
  color: rgba(0, 0, 0, 0.5);
}

/* Nav bar style starts Bismillah */
/* Nav bar style starts Bismillah */
/* Nav bar style starts Bismillah */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
}
.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Banner section starts */
.banner {
  display: flex;
  align-items: center;
  max-width: 1140px;
}
.banner-left h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #e95a08;
}
.always {
  color: black;
}
.banner-desc {
  font-size: 1.5rem;
}
.banner-right {
}
/* Our Plant Section */
/* Our Plant Section */
/* Our Plant Section */

.our-plant {
  text-align: center;
}
.our-plant h1 {
  font-size: 3.2rem;
  font-weight: bold;
}
.our {
  color: #e95a08;
}
.our-plant p {
  font-size: 1.25rem;
  max-width: 890px;
}

/*  Our plant Card Section */
/*  Our plant Card Section */

.card-grid {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 100px;
  /* gap: 10px 0px; */
  /* background-color: yellow; */
}
.card-container {
  text-align: center;
  /* border: 1px solid; */
  /* background-color: aquamarine; */
}
.btn-primary {
  width: 100%;
  font-size: 1.25rem;
  color: white;
  padding: 10px 0px;
  background-color: #e95a08;
  border: none;
}
.btn-primary:hover {
  background-color: #c74d06;
  cursor: pointer;
  transition: 0.4s;
}

/* Flowerandplant sec  */
/* Flowerandplant sec  */
/* Flowerandplant sec  */
.badge-try-parent {
  position: relative;
}
.flower-and-plant {
  max-width: 1140px;
  display: flex;
  gap: 60px;
  margin-bottom: 140px;
}
.flower-and-plant-right {
  padding: 10px 20px;
}
.badge {
  background-color: transparent;
  height: 210px;
  width: 210px;
  position: absolute;
  top: -80px;
  right: 690px;
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.417); */
}
.flower-and-plant h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.flower-and-plant li {
  font-size: 1.5rem;
  margin-bottom: 30px;
  /* max-width: 540px; */
}

/* Latest deals section */

.latest-deals {
  text-align: center;
}
.latest-deals h1 {
  font-size: 3rem;
  font-weight: 700;
}
.latest-deals p {
  font-size: 1.5rem;
  max-width: 890px;
  margin-bottom: 200px;
}
.latest {
  color: #c74d06;
}

/* 3 picture grid starts */

.first-grid-item {
  /* background: url("./assets/deal-bloom.png") no-repeat left top,
    linear-gradient(#e1dfe1, #000000); */
  background-size: cover;
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  display: grid;
  place-content: center;
  border-radius: 14px;
  border: none;
}
.first-grid-item h1,
a {
  color: White;
  background-color: transparent;
}
.off {
  font-size: 1.5rem;
}
.ahref {
  font-size: 22px;
  font-weight: bold;
}

/* 2nd pic */

.second-grid-item {
  background-size: cover;
  background-image: url(./assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  display: grid;
  place-content: center;
  border-radius: 14px;
  border: none;
}
.second-grid-item h1,
a {
  color: White;
  background-color: transparent;
}

/* 3rdpic */
.third-grid-item {
  background-size: cover;
  background-image: url(./assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  display: grid;
  place-content: center;
  border-radius: 14px;
  border: none;
}

.all-picture-grid {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 350px 600px auto 300px;
  /* grid-template-columns: 300px 900px 300px; */
}
/* mobile responsive */
/* mobile responsive */
/* mobile responsive */
@media screen and (max-width: 576px) {
  /* nav bar */

  .nav-bar {
    width: calc(100% - 10px);
    gap: 100px;
    align-items: center;
  }
  .mbl-hidden {
    display: none;
  }
  .nav-items {
    padding-right: 0 20px;
  }

  /*  banner Section */
  .banner {
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-right img {
    max-width: calc(100% - 0px);
  }
  .banner-left h1 {
    font-size: 3rem;
  }
  .banner-left {
    width: calc(100% - 20px);
  }

  /* Card section */
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(100% - 20px);
    margin: 0px auto;
    gap: 10px;
  }
  .card-container img {
    padding: 10px 0px;
    width: 100%;
  }
  .card-container {
    gap: 10px;
  }
}
