* {
  max-width: 1440px;
  margin: 10px auto;
  background-color: rgb(245, 248, 255);
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.bold {
  font-weight: 700;
}
.orange-color {
  color: #e95a08;
}
.dark2 {
  color: rgba(0, 0, 0, 0.5);
}

/* Nav bar style starts Bismillah */
/* Nav bar style starts Bismillah */
/* Nav bar style starts Bismillah */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
}
.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Banner section starts */
.banner {
  display: flex;
  align-items: center;
  max-width: 1140px;
}
.banner-left h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #e95a08;
}
.always {
  color: black;
}
.banner-desc {
  font-size: 1.5rem;
}
.banner-right {
}
/* Our Plant Section */
/* Our Plant Section */
/* Our Plant Section */

.our-plant {
  text-align: center;
}
.our-plant h1 {
  font-size: 3.2rem;
  font-weight: bold;
}
.our {
  color: #e95a08;
}
.our-plant p {
  font-size: 1.25rem;
  max-width: 890px;
}

/*  Our plant Card Section */
/*  Our plant Card Section */

.card-grid {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 10px 0px; */
  /* background-color: yellow; */
}
.card-container {
  text-align: center;
  /* border: 1px solid; */
  /* background-color: aquamarine; */
}
.btn-primary {
  width: 100%;
  font-size: 1.25rem;
  color: white;
  padding: 10px 0px;
  background-color: #e95a08;
  border: none;
}
.btn-primary:hover {
  background-color: #c74d06;
  cursor: pointer;
  transition: 0.4s;
}
/* mobile responsive */
/* mobile responsive */
/* mobile responsive */
@media screen and (max-width: 576px) {
  /* nav bar */

  .nav-bar {
    width: calc(100% - 10px);
    gap: 100px;
    align-items: center;
  }
  .mbl-hidden {
    display: none;
  }
  .nav-items {
    padding-right: 0 20px;
  }

  /*  banner Section */
  .banner {
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-right img {
    max-width: calc(100% - 0px);
  }
  .banner-left h1 {
    font-size: 3rem;
  }
  .banner-left {
    width: calc(100% - 20px);
  }

  /* Card section */
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(100% - 10px);
    /* gap: 10px; */
  }
  .card-container img {
    max-width: 190px;
    padding: 10px 0px;
  }
  .card-container {
    gap: 0;
  }
}
